@import "result.css";
@import "page.css";
@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&');

html
{
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.85rem !important;
    background-color: transparent;
    height:100%;
    width:100%;
    padding: 0px;
    margin: 0px;
}

@import "buttons.css";


* {
	cursor:default;
	margin:0;
	padding:0
}


body{
    height:100%;
    width:100%;
    font-family: 'Jura', sans-serif !important;
    font-size: 12px !important;
    line-height: 1.5;
    color:#333333 !important;
    background-color:#fff;
    background-image: url(../images/clouds.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch !important;
    padding: 0px;
    margin: 0px;
    border-width:0px;

}


table.header
{
	width:100%;
	height:32px;	
	/*background: rgba(25,75,125,0.5);*/
	/*color: #428bca;*/
 	/*text-shadow:-1px 1px #000;*/
}

td.header_content {
	height: 100%;
	width:100%;
	color: #428bca;
    font-family: 'Jura', sans-serif !important;
	font-size: inherit;
	text-align:right;
}

td.header_buttons
{
	/*color: #428bca;*/
 	/*text-shadow:-1px 1px #fff;*/
	/*text-align:left;*/
	/*font-size: 11px;*/
	/*font-weight: normal;*/
	/*padding: 0px;*/
	/*background: rgba(255,255,255,0.7);*/
}

button img {
	 width: 14px;
	 height: 14px;
}

/*#head_window {*/
	/*position: relative;*/
	/*top: 5px;*/
	/*left: 3px;*/
	/*font-size: 12px;*/
	/*font-weight: bold;*/
	/*border: 0px solid gray;*/
/*}*/

#content {
    position: absolute;
    top: 38px;
    width: 100%;
    height: calc(100% - 38px);
    overflow: hidden;
}