/* CSS file */
Button.btnStyleClose
{
	fill-alphas: 0.3, 0.3, 1.0, 1.0;
	fill-colors: #FBD2D2, #F59393;
}
Button.btnStyleDone
{
	fill-alphas: 0.3, 0.3, 1.0, 1.0;
	fill-colors: #CBEACB, #77D877;
}

Application.telenet
{
	backgroundGradientAlphas: 1.0, 1.0;
	backgroundGradientColors: #F2F2F2, #F2F2F2;
}
ComboBox.up
{
	dropdownStyleName: comboBoxDropdown;
}
Accordion.edAcc
{
	headerStyleName: accordionHeader;
	headerHeight: 18;
}
Canvas.holder
{
	borderStyle: solid;
	borderColor: #9BA0A3;
	borderThickness: 1;
	cornerRadius: 7;
}
Canvas.extension
{
	borderStyle: solid;
	cornerRadius: 7;
	borderSides: "top left right";
}
DateField.picker
{
	textAlign: center;
	/*todayIndicatorSkin: Embed("star.png");*/
	dateChooserStyleName: subDatePicker;
}
.subDatePicker
{
	todayColor: #26C56D;
	todayStyleName: myTodayStyle;
	/* Previous Month */
    prevMonthUpSkin: Embed("assets/bullet_delete.png");
    prevMonthOverSkin: Embed("assets/bullet_delete.png");
    prevMonthDownSkin: Embed("assets/bullet_delete.png");
    prevMonthDisabledSkin: Embed("assets/bullet_delete.png");

    /* Next Month */
    nextMonthUpSkin: Embed("assets/bullet_add.png");
    nextMonthOverSkin: Embed("assets/bullet_add.png");
    nextMonthDownSkin: Embed("assets/bullet_add.png");
    nextMonthDisabledSkin: Embed("assets/bullet_add.png");
	weekDayStyleName: dateChooserWeekDay;
	headerColors: #E1E5EB, #E1E5EB;
}
.myTodayStyle {
	color: white;
    fontWeight: bold;
}
DataGrid.grid
{
	headerStyleName: dataGridHeader;
	borderStyle: none;
}
.dataGridHeader
{
	textAlign: center;
	fontWeight: bold;
}
.accordionHeader
{
	textAlign: center;
}
.comboBoxDropdownUP {
	cornerRadius: 3;
	shadowDirection: right;
	shadowDistance: -1;
}
.comboBoxDropdownDOWN {
   cornerRadius: 3;
   shadowDirection: right;
   shadowDistance: 0;
}